.titre{
    background-color : rgba(17, 92, 122, 0.658);
}
div{
    width : 900px;
       
}
.tableau{
    position:center;
    border:solid;
    border-color:rgba(17, 92, 122, 0.658);
    border-radius: 2%;
}
img{
    width: 40px;
    height:40px;
}