<div class="tableau">
  <h2 class="titre">Product List</h2>
  <div name="filtre">
    <span>Filter By :</span>
    <input type="text" name="nfiltre">
  </div>

  <table class="table">

    <thead>
      <tr>
        <th><button name="showImage" (click)="AfficherImage();" class="btn btn-primary">Show Image</button></th>
        <th>Product</th>
        <th>Code</th>
        <th>Available</th>
        <th>Price</th>
        <th>5 Star Rating</th>

      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let item of listeProduit">
        <td>
          <img src=" {{item.lien}}" *ngIf="isShow">
        </td>
        <td> {{item.nom }} </td>
        <td> {{item.code }} </td>
        <td> {{item.datePeremption | date: 'dd MMMM yyyy'}} </td>
        <td> {{item.prix | currency: '€'}} </td>
        <td> {{item.evaluation}} </td>
      </tr>

    </tbody>
  </table>
</div>